
<div class="panel panel-primary">
  <div class="panel-heading">
    <h4 class="panel-title text-center">Categories</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    {% for cat in listCategorie %}
    <li class="list-group-item">
      <span class="badge">{{cat.nbrarticle}}</span>
      {{cat.nameCat}}
    </li>
      {% endfor %}
  </ul>
  </div>
</div>
